<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/tableStyle.css')}}"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <div id="json2">{{ jsonStrSite }}</div>
    <div id="json3">{{ jsonStrBot }}</div>
  </body>
  <script
    type="module"
    src="{{url_for('static', filename='table/tableBoxScript.mjs')}}"
  ></script>
</html>
